@{
    ViewBag.Title = "CheckOut";
}

<body>


    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index">Menü</a></li>
                    <li class="active">Ödeme</li>
                </ol>
            </div>

           

            <div class="register-req">
                <p>Ödemenizi tamamlamadan önce aşağıdaki formu doldurunuz.</p>
            </div><!--/register-req-->

            <div class="shopper-informations">
                <div class="row">

                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <p>Fatura Bilgileri</p>
                            <div class="form-one">
                                <form>

                                    <input type="text" placeholder="Ad">
                                    <input type="text" placeholder="Soyad">
                                    <input type="text" placeholder="Email">
                                    <input type="text" placeholder="Telefon">



                                </form>
                            </div>
                            <div class="form-two">
                                <form>

                                    <select>
                                        <option>-- İl --</option>

                                        <option>İstanbul</option>
                                        <option>Kastamonu</option>
                                        <option>Kırklareli</option>

                                    </select>
                                    <select>
                                        <option>-- İlçe --</option>
                                        <option>Gaziosmanpaşa</option>
                                        <option>Sultangazi</option>
                                        <option>Bayrampaşa</option>

                                    </select>
                                    <input type="text" placeholder="Posta Kodu">
                                    <input type="text" placeholder="Adres">
                                </form>

                            </div>
                            <a class="btn btn-default update" href="/Cart/Index"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Sepete Geri Dön</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Ödeme Detayları
                                        </h3>
                                        <div class="checkbox pull-right">
                                            
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="cardNumber" placeholder="KART NUMARASI"
                                                           required autofocus />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label for="expityMonth">
                                                            SON KULLANMA TARİHİ
                                                        </label>
                                                        <div class="col-xs-6 col-lg-5 pl-ziro">
                                                            <input type="text" class="form-control" id="expityMonth" placeholder="AA" required />
                                                        </div>
                                                        <div class="col-xs-6 col-lg-5 pl-ziro">
                                                            <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-4 pull-right">
                                                    <div class="form-group">
                                                        <label for="cvCode">
                                                            CVC
                                                        </label>
                                                        <input type="password" class="form-control" id="cvCode" placeholder="CVC" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="#"><span class="badge pull-right"><span></span>4200 ₺</span> Ödenecek Tutar</a>
                                    </li>
                                </ul>
                                <br />
                                <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Ödemeyi Tamamla</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />
                    <br />

                </div>
            </div>
           
            </div>
           
        </div>
    </section>








</body>
</html>