
@{
    ViewBag.Title = "Error";
}
@*<link href="~/Content/css/StyleSheet1.css" rel="stylesheet">*@
<div class=" col-md-offset-1 col-sm-10">

    <div class="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Giriş Yapmadan Sepete Ürün Ekleyemezsiniz!
    </div>
   
</div>


