
@{
    ViewBag.Title = "Error";
}

<div class=" col-md-offset-1">
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Giriş Yapmadan Sepete Ürün Ekleyemezsiniz!
    </div>
</div>

