@using EShopier.Entities.ViewModels
@model CartModel


<ul class=" nav navbar-nav">


    @*<li><a href="/Cart/Index"><i class=" fa fa-shopping-cart"></i>(@Model.CartLines.Count) Sepetim</a></li>*@
    <li><a href="/Cart/Index"><i class="fa" style="font-size:17px">&#xf07a;</i><span class='badge2 badge-warning' id='lblCartCount'> @Model.CartLines.Count</span>  Sepetim</a></li>






</ul>


