@using EShopier.Entities.ViewModels
@model CartModel

<ul class=" nav navbar-nav">
   
        
    <li><a href="/Cart/Index"><i class=" fa fa-shopping-cart"></i>(@Model.CartLines.Count) Sepetim</a></li>
    
    
</ul>
