@model EShopier.Entities.ViewModels.LoginUser
@{
    ViewBag.Title = "Login";
}


    <div class="container " >
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 ">
                <div class="login-form">
                    
                    <h2 class="text-center">GİRİŞ</h2>
                    
                        @using (Html.BeginForm())

                         {
                            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Kullanıcı Adınız" })
                            @Html.TextBoxFor(model => model.Password, new { @placeholder = "Şifreniz" })
                            <div class=" b-center">
                                <button type="submit" class="btn btn-default">Giriş </button>
                            </div>
                            
                         }
                 
                </div>
            </div>
           
           
        </div>
    </div>

