@using EShopier.Entities
@using BusinessLogicLayer
@{

    BrandManager brandlist = new BrandManager();
    CatManager catlist = new CatManager();

    List<Category> liste = catlist.CategoryList();
    List<Brand> liste2 = brandlist.BrandList();

}

<div class="left-sidebar">
    <h2>Kategoriler</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->


        @foreach (Category item in liste)
        {
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h4 class="panel-title"><a href="/Home/ByCategory/@item.ID">@item.Name</a><span class="w3-badge w3-orange w3-small w3-right w3-margin-right">  @item.Product.Count</span></h4>
                   


                </div>
            </div>
        }


    </div><!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Markalar</h2>
        <div class="brands-name">
            @foreach (Brand item in liste2)
            {
                <ul class="nav nav-pills nav-stacked ">
                    <li><a href="/Home/ByBrand/@item.ID"> <span class="pull-right"></span>@item.Name</a></li>

                </ul>
            }
        </div>
    </div><!--/brands_products-->



    <div class="shipping text-center">
        shipping
        <img src="~/Content/images/home/shipping.jpg" alt="" />
    </div>

</div>
